@keyframes fadeIn {
    from {
      opacity:0;
    } to {
      opacity:1;
    }
  }
  
  @keyframes butterflyIntro {
    0% {
      opacity:0; 
    } 20% {
      opacity:0;
      transform: rotate(0deg) translate(6vw, -3vw); 
    }
    100% {
      transform: rotate(180deg) translate(0, -0) rotate(-180deg); 
    }
  }
  
  @keyframes topFlowersIntro {
    0% {
      opacity:0;
      transform: translate(-50%, 2vw);
    } 10% {
      opacity:0;
      transform: translate(-50%, 2vw);
    } 100% {
      opacity:1;
      transform: translate(-50%, 0);
    }
  }
  
  @keyframes subheaderIntro {
    0% {
      transform: translate(0, 2vw);
      opacity:0;
    } 20% {
      transform: translate(0, 2vw);
      opacity:0;
    } to {
      transform: translate(0, 0);
      opacity:1;
    }
  }
  
  @keyframes dateIntro {
    0% {
      transform: translate(0, 2vw);
      opacity:0;
    } 40% {
      transform: translate(0, 2vw);
      opacity:0;
    } to {
      transform: translate(0, 0);
      opacity:1;
    }
  }
  
  .fade-in-section {
    opacity: 0;
    visibility: hidden;
    transition: 2.5s;
    will-change: opacity, visibility, transform;
  }
  .fade-in-section.is-visible {
    opacity: 1;
    visibility: visible;
  }
  
  
  #homeflowerleft {
    transform:translateX(12vw);
  }
  #homeflowerleft.is-visible {
    transform:translateX(0vw);
  }
  
  #homeflowerright1 {
    transform:translateX(-8vw);
  }
  #homeflowerright1.is-visible {
    transform:translateX(0vw);
  }
  
  #homeflowerright2 {
    transform:translateX(12vw);
  }
  #homeflowerright2.is-visible {
    transform:translateX(0vw);
  }

  #faqbuttonfade {
    transform:translateX(-8vw);
  }
  #faqbuttonfade.is-visible {
    transform:translateX(0vw);
  }

  #rsvpHeaderFade {
    transform:translateX(-3vw);
  }
  #rsvpHeaderFade.is-visible {
    transform:translateX(0vw);
  }
  #rsvpSubheaderFade {
    transform:translateX(3vw);
  }
  #rsvpSubheaderFade.is-visible {
    transform:translateX(0vw);
  }