/* Top of Home Page */

.introDiv {
  position:relative;
  height:100vh;
  width:100%;
  align-content:center;
  text-align:center;
}
.introImageFlower {
  bottom:0; left:0; 
  position:absolute;
  width:100%;
  object-fit: cover;
  z-index:-1;
}
.introImageButterfly {
  position:absolute;
  width:7vw;
  top:-60px; right:0;
}
.introHeaderSection {
  position:absolute;
  left:50%; top:50%;
  transform:translate(-50%, -70%);
  width:80vw;
}
.introTitle {
  font-family: Angella;
  font-size:12vw;
  color: #b5cfe6;
  margin:0;
}
.introSubHeader {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  color: #595959;
  font-size:2.4vw;
  margin:30px 0 10px 0;
}
.introDate {
  font-family: 'Cormorant Garamond', serif;
  font-size:2vw;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0em;
}
.introFade {
  position:absolute;
  bottom:0; left:0;
  width:100%; height:50px;
  background: linear-gradient(to top,rgba(254,254,251) 0%, rgba(254,254,251) 10%, rgba(254, 254, 251, 0) 100%);
}

/* Gallery Menu of Home Page */

.homeGalleryDiv {
  position:relative;
  margin: 6vw 0 20vw 0;
  top:0; left:50%;
  transform:translateX(-50%);
  width:80vw;
}
.homeGalleryColumn {
  position:relative;
  display:inline-table;
  width:45%;
}
.homeGalleryColumn.left {
  text-align:right;
}
.homeGalleryColumn.right {
  text-align:left;
  top:9vw;
}
.homeGallerySection {
  margin:1.3vw 0.8vw;
}

.homeGalleryPic {
  width:100%;
}
.homeGallerySection.wedding .homeGalleryPic {
  width:85%;
}
.homeGallerySection.ourStory .homeGalleryPic {
  width: 100%;
}
.homeGallerySection.travel .homeGalleryPic {
  width:100%;
}
.homeGallerySection.gifts .homeGalleryPic {
  width:71%;
}

.homeGalleryText {
  line-height: 3.8vw;
  text-decoration: none;
}
.homeGallerySection.wedding .homeGalleryText {
  font-size:4vw;
  margin-bottom:0px;
}
.homeGallerySection.ourStory .homeGalleryText {
  font-size:2.8vw;
  line-height: 3vw;
}
.homeGallerySection.travel .homeGalleryText {
  font-size:4vw;
}
.homeGallerySection.gifts .homeGalleryText {
  font-size:2.8vw;
  line-height: 3vw;
}

.faqButton {
  font-family: 'Cormorant Garamond', serif;
  color: #595959;
  margin-right:1vw;
  font-size:2.6vw;
  border: 1px solid #595959;
  background:none;
  padding:0.5vw 3.8vw;
  margin-top:6vw;
}

.homeBody.flowerImage {
  position:absolute;
}
.homeBody.flowerImage.left {
  width:40vw;
  top:5vw; left:-30vw;
  transform:rotateY(180deg) rotateZ(-30deg);
}
.homeBody.flowerImage.right1 {
  width:15vw;
  top:44vw; right:-13.7vw;
  transform:rotateY(180deg) rotateZ(-30deg);
}
.homeBody.flowerImage.right2 {
  width:38vw;
  top:65vw; right:-25vw;
  transform:rotate(0deg);
}

/* RSVP Form of Home Page */

.rsvpFormDiv {
  position:relative;
  background: #DFE9F2;
  padding:4vw 0 7vw 0;
}
.rsvpHeaderContainer {
  position:relative;
}
.rsvpHeaderCursive {
  font-family: Angella;
  font-size:9vw;
  color: #595959;
  margin-right:16vw;
}
.rsvpHeaderScript {
  font-size:8vw;
  margin-top:-4.7vw;
}
.rsvpHeaderDate {
  font-size:2.7vw;
  margin-top:-.5vw;
}


@media (max-aspect-ratio: 1/1) {
  
}