@font-face {
  font-family: "Angella";
  src: local(AngellaWhite), url("../fonts/AngellaWhite.otf") format("truetype");
}

.App {
  overflow:hidden;
  text-align: center;
}

* {
  margin:0;
  padding:0;
}

img {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  pointer-events:none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FEFEFB;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-family: 'Cormorant Garamond', serif;
  color: #595959;
}

a, button, label, input, textarea {
  font-family: 'Cormorant Garamond', serif;
  color: #595959;
  text-decoration: none;
}
input {
  background:none;
  border:none;
  border-bottom:thin solid #595959;
}
input[type=radio] {
  display:none;
}

.fade-in-section {
  opacity: 0;
  visibility: hidden;
  transition: 2.5s;
  will-change: opacity, visibility, transform;
}
.fade-in-section.is-visible {
  opacity: 1;
  visibility: visible;
}

.wrappedImage {
  width:100%;
}
.wrappedImageFadeLeft, .wrappedImageFadeRight {
  position:absolute; 
  top:0;
  height:100%;
  z-index:2;
}
.wrappedImageFadeLeft {
  left:-0.1vw;
}
.wrappedImageFadeRight {
  right:-0.1vw;
}

.navMenu {
  position:fixed;
  display:flex;
  top:1.5vw; right:1.5vw;
  font-size:1.6vw;
  z-index:10;
  width:9vw; height:2.9vw;
  border:thin solid #5959594e;
  background:#FEFEFB;
  box-shadow: 0 0 20px white;
  overflow:hidden;
  transition:1s ease-in-out;
}
.navMenu.show {
  width:83vw;
}
.menuButton {
  position:absolute;
  display:inline-table;
  width:9vw; height:100%;
  right:0; top:0vw;
  z-index:12;
  cursor:pointer;
}
.navOptions {
  position:absolute;
  left:1vw; top:0;
  display:inline-flex;
  transform:translateX(-70vw);
  transition:1s ease-in-out;
}
.navMenu.show .navOptions {
  transform:translateX(0);
}
.navOption {
  padding: 0.5vw 1.7vw;
  cursor:pointer;
}
.navOptionText {
  color:#595959aa;
}
.navOptionText.story {
  width:8.9vw;
}
.navOption.selected {
  cursor:pointer;
  pointer-events:none;
}
.navOption.selected .navOptionText {
  color:#9eb5c8;
}
.menuButtonText {
  margin-top:0.5vw;
  color:#595959aa;
}

.navMenu.stop-transitions, .navOptions.stop-transitions {
  transition:none;
}

/* Widescreen Ratio */

@media (min-aspect-ratio: 1/0.50) {

  .navMenu {
    top:3vh; right:3vh;
    font-size:3.1vh;
    width:17vh; height:5.8vh;
  }
  .navMenu.show {
    width:155vh;
  }
  .menuButton {
    width:17vh;
  }
  .menuButtonText {
    margin-top:1vh;
  }
  .navOptions {
    left:2.2vh;
    transform:translateX(-145vh);
  }
  .navOption {
    padding: 1vh 3.3vh;
  }
  .navOptionText.story {
    width:17.1vh;
  }

}

/* Tablet Ratio */

@media (max-aspect-ratio: 1.17/1) {

  .navMenu {
    display:inline-block;
    top:2.5vw; right:2.5vw;
    font-size:4.2vw;
    width:18vw; height:6.5vw;
  }
  .navMenu.show {
    width:31vw;
    height:79vw;
  }
  .menuButton {
    width:17.9vw;
    right:0;
    transition:width 1s;
    height:6vw;
  }
  .menuButtonText {
    margin-top:0.6vw;
    height:6vw;
  }
  .navMenu.show .menuButton {
    width:18.5vw;
    right:0;
  }
  .navOptions {
    position:absolute;
    left:-2vw; top:12vw;
    transform:translateX(40vw);
    display:inline-block;
    transition:1s ease-in-out;
    width:100%;
    text-align:right;
  }
  .navOption {
    pointer-events:none;
    padding: 0vw 1.5vw;
    text-align:right;
  }
  .navOptionText {
    pointer-events:all;
    text-align:right;
    padding: 2vw 4vw 2vw 0;
    width:100%;
  }
  .navOptionText.story {
    width:27.9vw;
  }

  .navOption {
    display:block;
  }

}

/* Mobile Ratio */

@media (max-aspect-ratio: 0.67/1) {

  .navMenu {
    top:3vw; right:3vw;
    font-size:7vw;
    width:31vw; height:11vw;
  }
  .navMenu.show {
    width:50vw;
    height:128vw;
  }
  .menuButton {
    width:31vw;
    right:0;
  }
  .menuButtonText {
    margin-top:1.2vw;
    height:10vw;
  }
  .navMenu.show .menuButton {
    width:30vw;
    right:0;
  }
  .navOptions {
    left:-2vw; top:24vw;
    transform:translateX(40vw);
  }
  .navOption {
    padding: 0vw 3.5vw;
  }
  .navOptionText {
    padding: 3vw 4vw 3vw 0;
    width:100%;
  }
  .navOptionText.story {
    width:43vw;
  }

}