@font-face {
  font-family: "Angella";
  src: local(AngellaWhite), url("../fonts/AngellaWhite.otf") format("truetype");
}

.App {
  overflow:hidden;
  text-align: center;
}

* {
  margin:0;
  padding:0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FEFEFB;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-family: 'Cormorant Garamond', serif;
  color: #595959;
}

a {
  font-family: 'Cormorant Garamond', serif;
  color: #595959;
  text-decoration: none;
}

.navMenu {
  position:fixed;
  display:flex;
  top:1.5vw; right:1.5vw;
  font-size:1.6vw;
  z-index:10;
  width:9vw; height:2.9vw;
  border:thin solid #5959594e;
  background:#FEFEFB;
  box-shadow: 0 0 20px white;
  overflow:hidden;
  transition:1s ease-in-out;
}
.navMenu.show {
  width:83vw;
}
.menuButton {
  position:absolute;
  display:inline-table;
  width:9vw;
  right:0; top:0.5vw;
  z-index:12;
  cursor:pointer;
}
.navOptions {
  position:absolute;
  left:1vw; top:0;
  display:inline-flex;
  transform:translateX(-70vw);
  transition:1s ease-in-out;
}
.navMenu.show .navOptions {
  transform:translateX(0);
}
.navOption {
  padding: 0.5vw 1.5vw;
  cursor:pointer;
}
.navOptionText {
  color:#595959aa;
}
.navOptionText.story {
  width:8.9vw;
}
.navOption.selected {
  cursor:pointer;
  pointer-events:none;
}
.navOption.selected .navOptionText {
  color:#9eb5c8;
}
.menuButtonText {
  color:#595959aa;
}

.navMenu.stop-transitions, .navOptions.stop-transitions {
  transition:none;
}

/* Widescreen Ratio */

@media (min-aspect-ratio: 1/0.50) {

  .navMenu {
    top:3vh; right:3vh;
    font-size:3.1vh;
    width:17vh; height:5.8vh;
  }
  .navMenu.show {
    width:155vh;
  }
  .menuButton {
    width:17vh;
    top:1vh;
  }
  .navOptions {
    left:2.2vh;
    transform:translateX(-145vh);
  }
  .navOption {
    padding: 1vh 3vh;
  }
  .navOptionText.story {
    width:17.1vh;
  }

}

/* Tablet Ratio */

@media (max-aspect-ratio: 1.17/1) {

  .navMenu {
    display:inline-block;
    top:2.5vw; right:2.5vw;
    font-size:3.5vw;
    width:17vw; height:6vw;
  }
  .navMenu.show {
    width:28vw;
    height:54vw;
  }
  .menuButton {
    width:17vw;
    right:0; top:0.8vw;
    transition:width 1s;
  }
  .navMenu.show .menuButton {
    width:16.7vw;
    right:0;
  }
  .navOptions {
    position:absolute;
    left:-2vw; top:12vw;
    transform:translateX(40vw);
    display:inline-block;
    transition:1s ease-in-out;
    width:100%;
    text-align:right;
  }
  .navOption {
    pointer-events:none;
    padding: 0vw 1.5vw;
    text-align:right;
  }
  .navOptionText {
    pointer-events:all;
    text-align:right;
    padding: 2vw 4vw 2vw 0;
    width:100%;
  }
  .navOptionText.story {
    width:24.8vw;
  }

  .navOption {
    display:block;
  }

}

/* Mobile Ratio */

@media (max-aspect-ratio: 0.67/1) {

  .navMenu {
    top:3vw; right:3vw;
    font-size:6vw;
    width:27vw; height:9vw;
  }
  .navMenu.show {
    width:40vw;
    height:72vw;
  }
  .menuButton {
    width:27vw;
    right:0; top:0.8vw;
  }
  .navMenu.show .menuButton {
    width:23vw;
    right:0;
  }
  .navOptions {
    left:-2vw; top:14vw;
    transform:translateX(40vw);
  }
  .navOption {
    padding: 0vw 1.5vw;
  }
  .navOptionText {
    padding: 2vw 4vw 2vw 0;
    width:100%;
  }
  .navOptionText.story {
    width:37vw;
  }

}