/* Top of Wedding Page */

.weddingDiv {
    position: relative;
    height: 100vh;
    width: 100%;
    align-content: center;
    text-align: center;
}

.weddingHeaderSection {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
}

.weddingTitle {
    font-family: Angella;
    font-size:10vw;
    color: #595959;
    margin: 0;
}

.weddingSubHeader {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    color: #595959;
    font-size:2.7vw;
    margin-bottom:-0.5vw;
}

.weddingImageFlower {
    position: absolute;
}
.weddingImageFlower.left1 {
    top:15vw; left:0vw;
    width:14vw;
}
.weddingImageFlower.left2 {
    top:-7vw; left:-13vw;
    width:54vw;
    transform:rotate(-45deg);
}
.weddingImageFlower.right {
    left:auto;
    bottom:-10vw; right:0;
    width:30vw;
}

/* Hazlehurst Information */

.hazlehurstDiv {
    position:relative;
    margin-bottom:7vw;
}
.hazlehurstImageWrapper {
    position:relative;
    height:18vw; width:fit-content;
    left:50%; transform:translateX(-50%);
}
.hazlehurstImage {
    object-fit: contain;
    height:100%;
}
.hazlehurstFade {
    position:absolute;
    top:0; left:-0.5vw;
    height:18vw; width:5vw;
    background:linear-gradient(to right, #FEFEFB 0%, #fefefb7d 20%, #fefefb00 100%);
}
.hazlehurstFade:nth-child(1) {
    left:auto; right:-0.5vw;
    background:linear-gradient(to left, #FEFEFB 0%, #fefefb7d 20%, #fefefb00 100%);
}

.hazlehurstHeader {
    font-family: Angella;
    font-size:4.4vw;
    margin-top:1.2vw;
}
.hazlehurstDate {
    font-size:1.6vw;
    font-style: italic;
    margin-top:-0.9vw;
}
.hazlehurstAddressHeader {
    font-size:1.6vw;
    font-weight:700;
    margin-top:1.8vw;
}
.hazlehurstAddress {
    font-size:1.5vw;
    font-style: italic;
    margin-top:0.2vw;
}
.hazlehurstMap {
    font-family: 'Cormorant Garamond', serif;
    color: #595959;
    font-size:1.6vw;
    border: 1px solid #595959;
    background:none;
    padding:0.4vw 3vw;
    margin-top:2vw;
}

.sectionDivider {
    position:absolute;
    bottom:-7vw; left:50%;
    transform:translateX(-50%);
    height:5vw; width:0.05vw;
    background:#595959;
}
.sectionDivider.schedule {
    bottom:auto; top:0;
}

/* Schedule Section */

.scheduleDiv {
    position:relative;
    background: #B5CFE6;
    padding:7vw 0 4vw 0;
}
.scheduleWrapper {
    position:relative;
    width:67vw;
    left:50%; transform: translateX(-50%);
}
.scheduleSection {
    position:relative;
    margin-bottom:2.8vw;
}
.scheduleHeader {
    color: #595959;
    font-size:2.2vw;
    font-weight:700;
}
.scheduleTime {
    color: #595959;
    font-size:2vw;
    margin-top:-0.5vw;
}
.scheduleFlower {
    position:absolute;
    bottom:-7vw; left:0;
    height:29vw;
}
.scheduleButterfly {
    position:absolute;
    top:-1vw; right:1vw;
    height:13vw;
}

/* The Crew Section */

.crewDiv {
    position:relative;
}
.crewDivHeader {
    background: #DFE9F2;
    padding:5vw 0;
}
.crewDivHeaderText {
    font-family: Angella;
    font-size:4.5vw;
    margin:0 0 -5.8vw 0.4vw;
}
.crewDivSubheaderText {
    font-size:6vw;
    margin-top:1.8vw;
}

.crewHeader {
    position:relative;
    text-align:left;
}
.crewHeader.groom {
    text-align:right;
}
.brideFlower {
    position:relative;
    top:-8vw; left:-3.5vw;
    transform:rotate(12deg);
    width:27vw;
}
.groomFlower {
    position:relative;
    top:-7vw; left:-5.3vw;
    transform:rotate(-115deg);
    width:22vw;
}
.crewHeaderText {
    position:relative;
    font-family: Angella;
    font-size:4.5vw;
    padding:0.4vw 3vw;
    width:fit-content;
    background:#F5F5F5;
}
.crewHeaderText.bride {
    top:-23vw; left:3vw;
}
.crewHeaderText.groom {
    position:absolute;
    top:12vw; right:4vw;
}

.crewRow {
    position:relative;
    margin-top:-14vw;
}
.crewRow.groom {
    position:relative;
    margin:-12.5vw 0 20vw 0;
}
.crewSection {
    position:relative;
    width:46vw;
    text-align:left;
    display:inline-table;
}
.crewImage {
    display:inline-block;
    width:16vw;
}
.crewSectionText {
    position:relative;
    display:inline-block;
    top:-11vw; left:1.5vw;
}
.crewSectionHeader {
    font-family: Angella;
    font-size:5vw;
    width:fit-content;
}
.crewSectionSubheader {
    width:fit-content;
    font-size:1.8vw;
    font-style: italic;
    margin-top:-0.4vw;
}

.crewFlower {
    position:absolute;
    bottom:-23vw; left:0;
    width:35vw;
    transform:rotate(10deg);
}

@media (min-aspect-ratio: 1/0.58) {

/* Top of Wedding Page */

.weddingDiv {
    height: 100vh;
}
.weddingHeaderSection {
    width: 160vh;
}
.weddingTitle {
    font-size: 17.2vh;
}
.weddingSubHeader {
    font-size: 4.65vh;
    margin-bottom:-0.9vh;
}
.weddingImageFlower.left1 {
    top:26vh;
    width:24vh;
}
.weddingImageFlower.left2 {
    top:-12vh; left:-22vh;
    width:93vh;
}
.weddingImageFlower.right {
    bottom:-17vh; right:0;
    width:52vh;
}

/* Hazlehurst Information */

.hazlehurstDiv {
    margin-bottom:12vh;
}
.hazlehurstImageWrapper {
    height:31vh;
}
.hazlehurstFade {
    top:0; left:-1vh;
    height:31vh; width:9vh;
}
.hazlehurstFade:nth-child(1) {
    right:-1vh;
}

.hazlehurstHeader {
    font-size:7.6vh;
    margin-top:2vh;
}
.hazlehurstDate {
    font-size:2.8vh;
    margin-top:-1.65vh;
}
.hazlehurstAddressHeader {
    font-size:2.8vh;
    margin-top:3vh;
}
.hazlehurstAddress {
    font-size:2.6vh;
}
.hazlehurstMap {
    font-size:2.8vh;
    padding:0.7vh 5.3vh;
    margin-top:3.7vh;
}

.sectionDivider {
    bottom:-12vh;
    height:9vh; width:0.1vh;
}

/* Schedule Section */

.scheduleDiv {
    padding:12vh 0 6vh 0;
}
.scheduleWrapper {
    width:117vh;
}
.scheduleSection {
    margin-bottom:5.4vh;
}
.scheduleHeader {
    font-size:3.8vh;
}
.scheduleTime {
    font-size:3.3vh;
    margin-top:-1vh;
}
.scheduleFlower {
    bottom:-15vh;
    height:53vh;
}
.scheduleButterfly {
    top:-2vh; right:4vh;
    height:22vh;
}

/* The Crew Section */

.crewDivHeader {
    padding:8.3vh 0;
}
.crewDivHeaderText {
    font-size:8vh;
    margin-bottom:-10.8vh;
}
.crewDivSubheaderText {
    font-size:10.5vh;
    margin-top:3.8vh;
}

.brideFlower {
    top:-14vh; left:-6.2vh;
    width:47vh;
}
.groomFlower {
    top:-14vh; left:-9vh;
    width:38.5vh;
}
.crewHeaderText {
    font-size:7.6vh;
    padding:1vh 5.9vh;
}
.crewHeaderText.bride {
    top:-40vh; left:5vh;
}
.crewHeaderText.groom {
    top:19vh; right:8vh;
}

.crewRow {
    margin-top:-25vh;
}
.crewRow.groom {
    margin:-24vh 0 43vh 0;
}
.crewSection {
    width:79vh;
}
.crewImage {
    width:27.5vh;
}
.crewSectionText {
    top:-18.7vh; left:2.5vh;
}
.crewSectionHeader {
    font-size:8.6vh;
}
.crewSectionSubheader {
    font-size:3.1vh;
    margin-top:-0.7vh;
}

.crewFlower {
    bottom:-43vh;
    width:63vh;
}

}