@keyframes weddingFlowersLeft1 {
    from {
      transform: rotate(-45deg) translate(-5vw, -5vw);
      opacity:0;
    } to {
      transform: rotate(-45deg) translate(0, 0);
      opacity:1;
    }
  }

  @keyframes weddingFlowersLeft2 {
    from {
      transform: translate(-5vw, 2vw);
      opacity:0;
    } to {
      transform: translate(0, 0);
      opacity:1;
    }
  }

  @keyframes weddingFlowersRight {
    from {
      transform: translate(10vw, -2vw);
      opacity:0;
    } to {
      transform: translate(0, 0);
      opacity:1;
    }
  }

  #sectionDividerFade {
    position:absolute;
    top:0; left:50%;
    transform:translateX(-50%);
  }
  #sectionDividerFade .sectionDivider {
    opacity:1;
    transform:translateX(-50%) scaleY(0);
  }
  #sectionDividerFade.is-visible .sectionDivider {
    transform:translateX(-50%) scaleY(1);
  }

  #schedule1, #schedule2, #schedule3, #schedule4 {
    transform: translateY(3vw);
    transition:2s;
  }
  #schedule1.is-visible, #schedule2.is-visible, 
  #schedule3.is-visible, #schedule4.is-visible {
    transform: translateY(0vw);
  }

  #scheduleflower {
    opacity:1;
    animation:none;
  }
  #scheduleflower.is-visible {
    animation:flowerFade 2s ease-out;
    transform:translateY(0vw);
  }
  #schedulebutterfly {
    opacity:1;
    animation:none;
  }
  #schedulebutterfly.is-visible {
    animation: flight1 2.5s ease, flight2 0.8s ease-in 2.5s, flight3 1s ease-in 3.3s, flight4 2s ease-out 4.3s;
    /* animation:flight4 2s ease-out infinite; */
}

  @keyframes flowerFade {
    from {
        transform:translateY(30vw)
    } to {
        transform:translateY(0vw)
    }
  }

  @keyframes flight1 {
    from {
        transform:rotate(-240deg) translate(355%, -25vw) rotate(240deg);
    } to {
        transform:rotate(-180deg) translate(355%, -3.5vw) rotate(180deg);
    }
  }

  @keyframes flight2 {
    0% {
        transform:rotate(-180deg) translate(355%, -3.5vw) rotate(180deg);
    } 16% {
        transform:rotate(-180deg) translate(355%, -3.5vw) rotate(180deg) rotateZ(6deg);
    } 33% {
        transform:rotate(-180deg) translate(355%, -3.5vw) rotate(180deg) rotateZ(-6deg);
    } 50% {
        transform:rotate(-180deg) translate(355%, -3.5vw) rotate(180deg) rotateZ(6deg);
    } 67% {
        transform:rotate(-180deg) translate(355%, -3.5vw) rotate(180deg) rotateZ(-6deg);
    } 83% {
        transform:rotate(-180deg) translate(355%, -3.5vw) rotate(180deg);
    } 100% {
        transform:rotate(-180deg) translate(355%, -3.5vw) rotate(180deg);
    }
  }

  @keyframes flight3 {
    0% {
        transform:rotate(-180deg) translate(355%, -3.5vw) rotate(180deg);
    } 20% {
        opacity:1;
    } 100% {
        opacity:0;
        transform:rotate(-150deg) translate(200%, -50vw) rotate(110deg);
    }
  }

  @keyframes flight4 {
    0% {
        opacity:0;
    } 20% {
        opacity:0;
        transform:rotate(-160deg) translate(-100%, 10vw) rotate(120deg);
    } to {
        opacity:1;
        transform:rotate(0deg) translate(0, 0vw) rotate(0deg);
    }
  }

  #crewheaderfade {
    transform:translateX(-2vw);
    height:0;
  }
  #crewheaderfade.is-visible {
    transform:translateX(0)
  }
  #crewsubheaderfade {
    transform:translateX(2vw)
  }
  #crewsubheaderfade.is-visible {
    transform:translateX(0)
  }

  #crewheaderbrideflower {
    transform:translate(-5vw, -2vw) rotate(12deg);
  }
  #crewheaderbrideflower.is-visible {
    transform:rotate(12deg);
  }
  #crewheaderbridetext {
    animation:none;
    transform:translateY(-10vw);
  }
  #crewheaderbridetext.is-visible {
    animation:crewHeaderBride 1.5s ease-out;
    transform:translateY(0)
  }

  @keyframes crewHeaderBride {
    from {
        transform:translateX(-5vw)
    } to {
        transform:translateX(0)
    }
  }

  #crewheadergroomflower {
    animation:none;
    transform:translateY(0vw);
  }
  #crewheadergroomflower.is-visible {
    animation:crewHeaderGroomFlower 1.5s ease-out;
    transform:translateY(0)
  }
  #crewheadergroomtext {
    transform:translateX(5vw);
  }
  #crewheadergroomtext.is-visible {
    transform:translateX(0)
  }

  @keyframes crewHeaderGroomFlower {
    from {
        transform:translate(5vw, -2vw);
    } to {
        transform:translate(0);
    }
  }

  #crewflowerend {
    animation:none;
    transform:translateY(-5vw) rotate(10deg);
  }
  #crewflowerend.is-visible {
    animation:crewFlowerEnd 1.5s ease-out;
    transform:translateY(0) rotate(10deg);
  }

  @keyframes crewFlowerEnd {
    from {
        transform:translate(-5vw, 2vw) rotate(10deg);
    } to {
        transform:translate(0) rotate(10deg);
    }
  }